<header>
  <div class="flex flex-row justify-content-start align-items-center">
    <a class="movie-search-app-logo pr-3" [routerLink]="['./search']"><img src="assets/img/msa_logo.jpg" alt="msa_logo"></a>
    <div class="movie-search-app-title font-light">Movie Search App | Dawid Namyslak</div>
  </div>
</header>
<div class="layout-container layout-light">
  <div class="layout-content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
<footer>
  <div class="footer-container font-light">
    Copyrights&#64;2023 | Dawid Namyslak
  </div>
</footer>
